<div class="modal fade" id="describeMovieModal" tabindex="-1" role="dialog" aria-labelledby="describeMovieModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body" style="background-color: #1d2f42;">
                <div class="row">
                    <div class="col-12" style="margin: auto;">
                        <h3 id="describeMovieName" style="text-align: center; color: white;"></h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6" id="describeMovieThumb">

                    </div>
                    <div class="col-6">
                        <p style="color: white" id="describeMovieDescription"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6"></div>
                    <div class="col-6">
                        <button class="btn btn-secondary" onclick="play_movie()">
                            <div style="color: white;">Play <div class="fas fa-play"></div></div>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>