{% extends "v2/modules/base.html" %}
{% block style %}
    <style>
        .thumb {
            width: 200px;
            height: 300px;
            object-fit: contain;
        }

        .btn {
            border-radius: 0;
            color: white;
            font-weight: bold;
        }

        .btn-info {
            color: #fff;
            background-color: #888888;
            border-color: #88888888;
            letter-spacing: 0.125em;
        }
    </style>
{% endblock %}
{% block priority_scripts %}
    <link rel="stylesheet" href="/assets/cdn/bootstrap.4.5.3.min.css">
{% endblock %}
{% block top_scripts %}
    <script type="text/javascript" src="/assets/js/unveil.js"></script>
    <script src="/assets/cdn/bootstrap.bundle.4.5.3.min.js"></script>
{% endblock %}
{% block bottom_scripts %}
    <script type="text/javascript">
        function goto(loc) {
            window.location.href = loc;
        }

        $(document).ready(function () {
            $("img").unveil();
        })
    </script>
{% endblock %}
{% block content %}
    <header>
        <div class="row">
            <div class="col-4">
                <span class="symbol"></span><span class="title"><h2>{{ show.name }}</h2></span>
            </div>
            <div class="col-4"></div>
            <div class="col-4">

                <div class="btn-group float-right">
                    <button type="button" class="btn btn-info dropdown-toggle season-dropdown txt-white"
                            data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                        {{ season_name }}
                    </button>
                    <div class="dropdown-menu">
                        {% for item in dd %}
                            {% if item.active == "yes" %}
                                <a class="dropdown-item active"
                                   href="/shows/{{ show._id }}/{{ item.id }}">{{ item.name }}</a>
                            {% else %}
                                <a class="dropdown-item" href="/shows/{{ show._id }}/{{ item.id }}">{{ item.name }}</a>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>

            </div>
        </div>
    </header>
    <section class="tiles" id="show-list">
        {% for episode in episodes %}
            <article class="style1" onclick="goto('/watch/tv/{{ episode.season_id }}/{{ episode.idv }}')">
                <span class="image">
                    <img class="thumb" src="/thumbs/default.png" data-src="/thumbs/{{ episode.thumb }}" alt=""
                         draggable="false"/>
                </span>
                <div class="card-element"><h2 class="movie-card-text-above">
                    <small style='font-size: 15px;color: gray; margin-bottom: 20%;'>{{ episode.episode }}.</small>&nbsp;{{ episode.name }}</h2>
                </div>
            </article>
        {% endfor %}
    </section>
{% endblock %}
